.movie-card{
    width: 30%;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

.movie-card img{
    max-width: 100%;
}

.movie-card img,
.movie-card h2,
.movie-card p{
    margin-bottom: 1rem;
}

.movie-card p svg{
    color: yellow;
}

.movie-card a{
    background-color: aqua;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    border: 2px solid aqua;
    border-radius: 4px;
    text-align: center;
    transition: .4s;
}

.movie-card a:hover{
    background-color: transparent;
    color: aqua;
}

.movie-page .movie-card{
    width: 100%;
    background-color: transparent;
    text-align: center;
    margin-bottom: 0.5rem;
}

.movie-page .movie-card p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    margin-bottom: 0;
}

.movie-page .movie-card h2{
    font-size: 2rem;
}